#output {
    white-space: pre !important;
    overflow: scroll;
    border-radius: 6px;
    resize: none !important;
    margin: 0;
    padding: 10px 10px 10px 20px;
}

#output-panel {
    flex-grow: 0.4;
}