#output {
    white-space: pre !important;
    overflow: scroll;
    border-radius: 6px;
    resize: none !important;
    margin: 0;
    padding: 4px 20px 4px 20px;
    border: 6px solid;
    border-color: var(--dark-background);
}

#output-panel {
    flex-grow: 1;
}

#output.error {
    border-color: var(--red);
}
